## From the given Dataset. Print the processed dataset after implementation.

### Write the following functions.

- A function to delete duplicate values 
- Function to fill the missing values(i.e values having 0 ) with the mean of coressponding class of the attribute 
- Function to transform the nominal attributes into numerical values,by removing the colour attribute and transforming the three new colours (Green, yellow and Red) into numerical values.
- Function to normalise the values using min-max method.

In [25]:
import pandas as pd
df = pd.read_csv(r"C:\Users\sande\OneDrive\Desktop\MMSO\Machine Learning\ML_assignment02_dataset_2022.csv")
df.head()

  Colour  Radius (cm)  Weight (grams) Fruit (class)
0  Green          4.3             122          Pear
1  Green          4.6             152          Pear
2  Green          3.1              85         Apple
3  Green          3.6             173          Pear
4  Green          2.5              65         Lemon

In [26]:
df.shape

(35, 4)

In [27]:
df.describe()

       Radius (cm)  Weight (grams)
count    35.000000       35.000000
mean      3.097143       86.485714
std       1.180101       40.437585
min       0.000000        0.000000
25%       2.450000       62.000000
50%       3.100000       80.000000
75%       4.100000      116.000000
max       5.200000      173.000000

In [28]:
df

    Colour  Radius (cm)  Weight (grams) Fruit (class)
0    Green          4.3             122          Pear
1    Green          4.6             152          Pear
2    Green          3.1              85         Apple
3    Green          3.6             173          Pear
4    Green          2.5              65         Lemon
5    Green          2.5              70         Apple
6    Green          2.7              73         Apple
7    Green          4.5             110          Pear
8    Green          2.5              86         Apple
9    Green          2.4              68         Lemon
10   Green          4.2             126          Pear
11     Red          3.7             101         Apple
12     Red          3.7             100         Apple
13     Red          3.4              80         Apple
14  Yellow          3.2              79         Apple
15  Yellow          3.1              69         Lemon
16  Yellow          2.1              64         Apple
17  Yellow          2.6              58         Lemon
18  Yellow          2.1              40         Lemon
19  Yellow          2.3              60         Lemon
20  Yellow          4.2             105          Pear
21  Yellow          2.1              40         Lemon
22  Yellow          3.2              64         Lemon
23  Yellow          2.9              53         Lemon
24  Yellow          4.1             135          Pear
25  Yellow          5.2             142          Pear
26  Yellow          2.3              60         Lemon
27  Yellow          0.0             137          Pear
28  Yellow          3.0              98         Apple
29  Yellow          2.4               0         Lemon
30  Yellow          4.1              56         Lemon
31  Yellow          4.1              80         Apple
32  Yellow          5.2             141          Pear
33  Yellow          0.0             135          Pear
34   Green          2.5               0         Apple

In [29]:
def normalise_minmax(x):
    c = (x - x.min())/(x.max()-x.min())
    return c

In [30]:
df

    Colour  Radius (cm)  Weight (grams) Fruit (class)
0    Green          4.3             122          Pear
1    Green          4.6             152          Pear
2    Green          3.1              85         Apple
3    Green          3.6             173          Pear
4    Green          2.5              65         Lemon
5    Green          2.5              70         Apple
6    Green          2.7              73         Apple
7    Green          4.5             110          Pear
8    Green          2.5              86         Apple
9    Green          2.4              68         Lemon
10   Green          4.2             126          Pear
11     Red          3.7             101         Apple
12     Red          3.7             100         Apple
13     Red          3.4              80         Apple
14  Yellow          3.2              79         Apple
15  Yellow          3.1              69         Lemon
16  Yellow          2.1              64         Apple
17  Yellow          2.6              58         Lemon
18  Yellow          2.1              40         Lemon
19  Yellow          2.3              60         Lemon
20  Yellow          4.2             105          Pear
21  Yellow          2.1              40         Lemon
22  Yellow          3.2              64         Lemon
23  Yellow          2.9              53         Lemon
24  Yellow          4.1             135          Pear
25  Yellow          5.2             142          Pear
26  Yellow          2.3              60         Lemon
27  Yellow          0.0             137          Pear
28  Yellow          3.0              98         Apple
29  Yellow          2.4               0         Lemon
30  Yellow          4.1              56         Lemon
31  Yellow          4.1              80         Apple
32  Yellow          5.2             141          Pear
33  Yellow          0.0             135          Pear
34   Green          2.5               0         Apple

In [31]:
df.head()

  Colour  Radius (cm)  Weight (grams) Fruit (class)
0  Green          4.3             122          Pear
1  Green          4.6             152          Pear
2  Green          3.1              85         Apple
3  Green          3.6             173          Pear
4  Green          2.5              65         Lemon

In [32]:
print(df.columns.tolist())

['Colour', 'Radius (cm)', 'Weight (grams)', 'Fruit (class)']

In [33]:
dummies = pd.get_dummies(df.Colour)

In [34]:
new_data = pd.concat([df,dummies],axis = 'columns')
new_df = new_data.drop(['Colour'],axis ='columns')
print(new_df)

    Radius (cm)  Weight (grams) Fruit (class)  Green  Red  Yellow
0           4.3             122          Pear      1    0       0
1           4.6             152          Pear      1    0       0
2           3.1              85         Apple      1    0       0
3           3.6             173          Pear      1    0       0
4           2.5              65         Lemon      1    0       0
5           2.5              70         Apple      1    0       0
6           2.7              73         Apple      1    0       0
7           4.5             110          Pear      1    0       0
8           2.5              86         Apple      1    0       0
9           2.4              68         Lemon      1    0       0
10          4.2             126          Pear      1    0       0
11          3.7             101         Apple      0    1       0
12          3.7             100         Apple      0    1       0
13          3.4              80         Apple      0    1       0
14          3.2              79         Apple      0    0       1
15          3.1              69         Lemon      0    0       1
16          2.1              64         Apple      0    0       1
17          2.6              58         Lemon      0    0       1
18          2.1              40         Lemon      0    0       1
19          2.3              60         Lemon      0    0       1
20          4.2             105          Pear      0    0       1
21          2.1              40         Lemon      0    0       1
22          3.2              64         Lemon      0    0       1
23          2.9              53         Lemon      0    0       1
24          4.1             135          Pear      0    0       1
25          5.2             142          Pear      0    0       1
26          2.3              60         Lemon      0    0       1
27          0.0             137          Pear      0    0       1
28          3.0              98         Apple      0    0       1
29          2.4               0         Lemon      0    0       1
30          4.1              56         Lemon      0    0       1
31          4.1              80         Apple      0    0       1
32          5.2             141          Pear      0    0       1
33          0.0             135          Pear      0    0       1
34          2.5               0         Apple      1    0       0

In [35]:
def transfor_nominal(x):
    dummies = pd.get_dummies(x.Colour);
    new_data = pd.concat([x,dummies],axis = 'columns')
    new_df = new_data.drop(['Colour'],axis ='columns')
    return new_df

In [36]:
transfor_nominal(df)

    Radius (cm)  Weight (grams) Fruit (class)  Green  Red  Yellow
0           4.3             122          Pear      1    0       0
1           4.6             152          Pear      1    0       0
2           3.1              85         Apple      1    0       0
3           3.6             173          Pear      1    0       0
4           2.5              65         Lemon      1    0       0
5           2.5              70         Apple      1    0       0
6           2.7              73         Apple      1    0       0
7           4.5             110          Pear      1    0       0
8           2.5              86         Apple      1    0       0
9           2.4              68         Lemon      1    0       0
10          4.2             126          Pear      1    0       0
11          3.7             101         Apple      0    1       0
12          3.7             100         Apple      0    1       0
13          3.4              80         Apple      0    1       0
14          3.2              79         Apple      0    0       1
15          3.1              69         Lemon      0    0       1
16          2.1              64         Apple      0    0       1
17          2.6              58         Lemon      0    0       1
18          2.1              40         Lemon      0    0       1
19          2.3              60         Lemon      0    0       1
20          4.2             105          Pear      0    0       1
21          2.1              40         Lemon      0    0       1
22          3.2              64         Lemon      0    0       1
23          2.9              53         Lemon      0    0       1
24          4.1             135          Pear      0    0       1
25          5.2             142          Pear      0    0       1
26          2.3              60         Lemon      0    0       1
27          0.0             137          Pear      0    0       1
28          3.0              98         Apple      0    0       1
29          2.4               0         Lemon      0    0       1
30          4.1              56         Lemon      0    0       1
31          4.1              80         Apple      0    0       1
32          5.2             141          Pear      0    0       1
33          0.0             135          Pear      0    0       1
34          2.5               0         Apple      1    0       0

In [37]:
df.fillna(2)

    Colour  Radius (cm)  Weight (grams) Fruit (class)
0    Green          4.3             122          Pear
1    Green          4.6             152          Pear
2    Green          3.1              85         Apple
3    Green          3.6             173          Pear
4    Green          2.5              65         Lemon
5    Green          2.5              70         Apple
6    Green          2.7              73         Apple
7    Green          4.5             110          Pear
8    Green          2.5              86         Apple
9    Green          2.4              68         Lemon
10   Green          4.2             126          Pear
11     Red          3.7             101         Apple
12     Red          3.7             100         Apple
13     Red          3.4              80         Apple
14  Yellow          3.2              79         Apple
15  Yellow          3.1              69         Lemon
16  Yellow          2.1              64         Apple
17  Yellow          2.6              58         Lemon
18  Yellow          2.1              40         Lemon
19  Yellow          2.3              60         Lemon
20  Yellow          4.2             105          Pear
21  Yellow          2.1              40         Lemon
22  Yellow          3.2              64         Lemon
23  Yellow          2.9              53         Lemon
24  Yellow          4.1             135          Pear
25  Yellow          5.2             142          Pear
26  Yellow          2.3              60         Lemon
27  Yellow          0.0             137          Pear
28  Yellow          3.0              98         Apple
29  Yellow          2.4               0         Lemon
30  Yellow          4.1              56         Lemon
31  Yellow          4.1              80         Apple
32  Yellow          5.2             141          Pear
33  Yellow          0.0             135          Pear
34   Green          2.5               0         Apple

In [38]:
ds= pd.read_csv(r"C:\Users\sande\OneDrive\Desktop\MMSO\Machine Learning\ML_assignment02_dataset_2022.csv")

In [39]:
df.loc[(df['Weight (grams)'] == 0), 'Weight (grams)'] = df['Weight (grams)'].mean()
df

    Colour  Radius (cm)  Weight (grams) Fruit (class)
0    Green          4.3      122.000000          Pear
1    Green          4.6      152.000000          Pear
2    Green          3.1       85.000000         Apple
3    Green          3.6      173.000000          Pear
4    Green          2.5       65.000000         Lemon
5    Green          2.5       70.000000         Apple
6    Green          2.7       73.000000         Apple
7    Green          4.5      110.000000          Pear
8    Green          2.5       86.000000         Apple
9    Green          2.4       68.000000         Lemon
10   Green          4.2      126.000000          Pear
11     Red          3.7      101.000000         Apple
12     Red          3.7      100.000000         Apple
13     Red          3.4       80.000000         Apple
14  Yellow          3.2       79.000000         Apple
15  Yellow          3.1       69.000000         Lemon
16  Yellow          2.1       64.000000         Apple
17  Yellow          2.6       58.000000         Lemon
18  Yellow          2.1       40.000000         Lemon
19  Yellow          2.3       60.000000         Lemon
20  Yellow          4.2      105.000000          Pear
21  Yellow          2.1       40.000000         Lemon
22  Yellow          3.2       64.000000         Lemon
23  Yellow          2.9       53.000000         Lemon
24  Yellow          4.1      135.000000          Pear
25  Yellow          5.2      142.000000          Pear
26  Yellow          2.3       60.000000         Lemon
27  Yellow          0.0      137.000000          Pear
28  Yellow          3.0       98.000000         Apple
29  Yellow          2.4       86.485714         Lemon
30  Yellow          4.1       56.000000         Lemon
31  Yellow          4.1       80.000000         Apple
32  Yellow          5.2      141.000000          Pear
33  Yellow          0.0      135.000000          Pear
34   Green          2.5       86.485714         Apple

In [40]:
def fill_values(x):
    df.loc[(x==0), x] = x.mean()
    return df

In [41]:
def del_duplicate(x):
    x = x.drop_duplicates()
    return x

In [42]:
df.shape

(35, 4)

In [43]:
(df.drop_duplicates()).shape

(33, 4)

In [44]:
df.shape

(35, 4)

In [45]:
del_duplicate(df)

    Colour  Radius (cm)  Weight (grams) Fruit (class)
0    Green          4.3      122.000000          Pear
1    Green          4.6      152.000000          Pear
2    Green          3.1       85.000000         Apple
3    Green          3.6      173.000000          Pear
4    Green          2.5       65.000000         Lemon
5    Green          2.5       70.000000         Apple
6    Green          2.7       73.000000         Apple
7    Green          4.5      110.000000          Pear
8    Green          2.5       86.000000         Apple
9    Green          2.4       68.000000         Lemon
10   Green          4.2      126.000000          Pear
11     Red          3.7      101.000000         Apple
12     Red          3.7      100.000000         Apple
13     Red          3.4       80.000000         Apple
14  Yellow          3.2       79.000000         Apple
15  Yellow          3.1       69.000000         Lemon
16  Yellow          2.1       64.000000         Apple
17  Yellow          2.6       58.000000         Lemon
18  Yellow          2.1       40.000000         Lemon
19  Yellow          2.3       60.000000         Lemon
20  Yellow          4.2      105.000000          Pear
22  Yellow          3.2       64.000000         Lemon
23  Yellow          2.9       53.000000         Lemon
24  Yellow          4.1      135.000000          Pear
25  Yellow          5.2      142.000000          Pear
27  Yellow          0.0      137.000000          Pear
28  Yellow          3.0       98.000000         Apple
29  Yellow          2.4       86.485714         Lemon
30  Yellow          4.1       56.000000         Lemon
31  Yellow          4.1       80.000000         Apple
32  Yellow          5.2      141.000000          Pear
33  Yellow          0.0      135.000000          Pear
34   Green          2.5       86.485714         Apple

In [46]:
print("min :",df['Radius (cm)'].min())
print("max :",df['Radius (cm)'].max())
print(4.3-2.1/5.2-2.1)

min : 0.0
max : 5.2
1.796153846153846