## K-Nearest Neighbors Algorithm
### For different K values i.e, k = 3,5,7

In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_excel(r"C:\Users\sande\OneDrive\Desktop\Practice python\Data Sets\assignment6.xlsx")

In [3]:
df

   sepal_length  sepal_width  petal_length  petal_width     species
0           5.1          3.5           1.4          0.2      setosa
1           4.9          3.0           1.4          0.2      setosa
2           4.7          3.2           1.3          0.2      setosa
3           4.6          3.1           1.5          0.2      setosa
4           5.0          3.6           1.4          0.2      setosa
5           7.0          3.2           4.7          1.4  versicolor
6           6.4          3.2           4.5          1.5  versicolor
7           6.9          3.1           4.9          1.5  versicolor
8           5.5          2.3           4.0          1.3  versicolor
9           6.5          2.8           4.6          1.5  versicolor

In [4]:
# Defining Euclidean distance 
def dis(x,y):
    return np.sqrt(np.sum(x-y)**2)

In [5]:
# Given Prediction Point which needs to be assigned by Knn
pred = [8.2,2.6,3.2,1.8]

In [6]:
# Creating a new dataset ds for dropping species to calculate distance of all the data to our given prediction point 
ds = df.drop('species',axis =1)

In [7]:
ds

   sepal_length  sepal_width  petal_length  petal_width
0           5.1          3.5           1.4          0.2
1           4.9          3.0           1.4          0.2
2           4.7          3.2           1.3          0.2
3           4.6          3.1           1.5          0.2
4           5.0          3.6           1.4          0.2
5           7.0          3.2           4.7          1.4
6           6.4          3.2           4.5          1.5
7           6.9          3.1           4.9          1.5
8           5.5          2.3           4.0          1.3
9           6.5          2.8           4.6          1.5

In [8]:
i = 0
distance = []
while i <=9:
    
    dist = dis(ds.iloc[i],pred)
    i = i+1
    distance.append(dist)

In [9]:
distance # Distance from our prediction point

[5.6,
 6.299999999999999,
 6.399999999999999,
 6.4,
 5.6,
 0.5000000000000007,
 0.19999999999999907,
 0.6000000000000012,
 2.6999999999999997,
 0.40000000000000013]

In [10]:
df['dist'] = distance

In [11]:
df

   sepal_length  sepal_width  petal_length  petal_width     species  dist
0           5.1          3.5           1.4          0.2      setosa   5.6
1           4.9          3.0           1.4          0.2      setosa   6.3
2           4.7          3.2           1.3          0.2      setosa   6.4
3           4.6          3.1           1.5          0.2      setosa   6.4
4           5.0          3.6           1.4          0.2      setosa   5.6
5           7.0          3.2           4.7          1.4  versicolor   0.5
6           6.4          3.2           4.5          1.5  versicolor   0.2
7           6.9          3.1           4.9          1.5  versicolor   0.6
8           5.5          2.3           4.0          1.3  versicolor   2.7
9           6.5          2.8           4.6          1.5  versicolor   0.4

In [12]:
df_nn =  df.sort_values(by=['dist'], axis=0)[:3] # for k = 3
df_nn

   sepal_length  sepal_width  petal_length  petal_width     species  dist
6           6.4          3.2           4.5          1.5  versicolor   0.2
9           6.5          2.8           4.6          1.5  versicolor   0.4
5           7.0          3.2           4.7          1.4  versicolor   0.5

### Our prediction model is showing it is versicolor for k = 3

In [13]:
# for k = 5
df_nn =  df.sort_values(by=['dist'], axis=0)[:5]
df_nn

   sepal_length  sepal_width  petal_length  petal_width     species  dist
6           6.4          3.2           4.5          1.5  versicolor   0.2
9           6.5          2.8           4.6          1.5  versicolor   0.4
5           7.0          3.2           4.7          1.4  versicolor   0.5
7           6.9          3.1           4.9          1.5  versicolor   0.6
8           5.5          2.3           4.0          1.3  versicolor   2.7

### for k = 5 our predicted point still lies in versicolor

In [14]:
df_nn =  df.sort_values(by=['dist'], axis=0)[:7] # for k = 7
df_nn # For k = 7 our predicted point is lies in versicolor

   sepal_length  sepal_width  petal_length  petal_width     species  dist
6           6.4          3.2           4.5          1.5  versicolor   0.2
9           6.5          2.8           4.6          1.5  versicolor   0.4
5           7.0          3.2           4.7          1.4  versicolor   0.5
7           6.9          3.1           4.9          1.5  versicolor   0.6
8           5.5          2.3           4.0          1.3  versicolor   2.7
0           5.1          3.5           1.4          0.2      setosa   5.6
4           5.0          3.6           1.4          0.2      setosa   5.6

In [15]:
df_nn.loc[df_nn['species']=='versicolor'].count()>df_nn.loc[df_nn['species']=='setosa'].count()

sepal_length    True
sepal_width     True
petal_length    True
petal_width     True
species         True
dist            True
dtype: bool

### for k = 7 Hence k will be alloted to versicolor as its closer